node_modules
# Keep environment variables out of version control
.env
prisma/schema OLD V2.prisma
src/generated_OLD/*
src/generated/*
src/application/app.js
src/application/app NO REALTIME.js
src/service/user/order-service FIX OLD.js
src/service/menu-service OLD.js
src/validation/user/user-validation OLD.js
src/main NO REALTIME.JS
public/
tmp/
